<div class="hero-unit">
	<h1>欢迎来到 Microblog</h1>
	<p>Microblog 是一个基于Node.js的微博系统</p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">登陆</a>
		<a class="btn btn-large" href="/reg">立即注册</a>
	</p>
</div>

<div class="row">
	<div class="span4">
		<h2>Carbo 说</h2>
		<p>东风早破梅 向暖一直开 冰雪无人见 春从天上来</p>
	</div>
	<div class="span4">
		<h2>BYVoid 说</h2>
		<p>
			Open Chinese Convert (openCC)是一个开源的中文简繁转换项目，
			致力于制作高质量的基于统计预料的简繁转换库
			还提供函数库(libopencc).命令行简繁转换工具、人工校对工具、词典生成程序和在线转换服务及图形用户界面
		</p>
	</div>
	<div class="span4">
		<h2>佛振 说</h2>
		<p>
			中州韵输入法引擎/Rime Input Method Engine取义历史上的中州韵，远些一步汇集音韵学智慧的输入法经典之作
		</p>
	</div>
</div>